
{% extends "base_generic.html" %}

{% block content %}
  <a class="jump-href" id="header-anchor"></a>
  <div class="px-2 px-lg-3 pt-4">
    <h1>Password Reset</h1>
  </div>

  <div class="container">
    <div class="row justify-content-center py-4">
      <div class="col-12 px-2 px-md-4 col-lg-11 col-xl-10">
        <p>The password has been changed!</p>
      </div>
    </div>
    <div class="d-grid col-9 col-sm-5 mx-auto pt-1 pb-5">
      <a class="btn btn-primary" href="{% url 'login' %}#header-anchor" role="button">Click here to login again.</a>
    </div>
  </div>
{% endblock %}