
{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="px-2 px-lg-3 pt-4">
    <h1>Password Reset</h1>
  </div>

  <div class="container">
    <div class="row justify-content-center py-4">
      <div class="col-12 px-2 px-md-4 col-lg-11 col-xl-10">
        {% if validlink %}
          <form action="" method="post" id="password-reset-form">
            {% csrf_token %}
            {{ form|crispy }}
          </form>
        {% else %}
          <h4>Password reset failed...</h4>
          <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
      </div>
    </div>
    {% if validlink %}
      <div class="d-grid col-9 col-sm-5 mx-auto pt-1 pb-5">
        <button class="btn btn-primary" form="password-reset-form" type="submit">Change my password.</button>
      </div>
    {% endif %}
  </div>
{% endblock %}