
{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="px-4 pt-4">
    <h1>Reset password</h1>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="p-5">
          <form id="form-container" action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
              <div class="py-3">
                {{ form.email.errors }}
              </div>
            {% endif %}
            {{ form.email|as_crispy_field }}
            <div class="d-grid gap-2 col-5 mx-auto py-5">
              <input type="submit" class="btn btn-primary" value="Reset password">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

