<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block title %}<title>Wilderness MANIAC SAFARIS</title>{% endblock %}

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <!-- Add additional CSS in static file -->
  {% load static %}

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/lightbox.css' %}"/>
  <script src="{% static 'javascript/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'javascript/jquery.formset.js' %}"></script>

</head>
<body>
  <header class="header-title">
    <div class="container" id="container-header-title">
      <div class="row align-items-center">
        <div class="col-lg-2 col-md-2 d-none d-md-block ">
          <div class="container-header-logo">
            <img class="img-fluid" src="{% static 'img/header-logo.jpg' %}" alt="Logo">
          </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 d-none d-sm-block ">
          <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-6  my-auto">
              <h2><i>Wilderness MANIAC SAFARIS</i></h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 my-auto" style="text-align: end">
{#              <h3><a href="tel:+421-944-412-335">+421-944-412-335</a></h3>#}
{#              <h3><a href="mailto:ahojky@gmail.com">ahojky@gmail.com</a></h3>#}
              <img class="header-icons" src="{% static 'img/icons/envelope.svg'%}" alt="Email:" width="21" height="21"><a class="fs-4 profile-links" href="mailto:ahojky@gmail.com">ahojky@gmail.com</a><br>
              <img class="header-icons" src="{% static 'img/icons/telephone.svg'%}" alt="Telephone:" width="21" height="21"><a class="fs-4 profile-links" href="tel:+421-944-412-335">+421-944-412-335</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="page-container"> {# these two divs are used so we can have a fixed footer #}
    <div id="content-wrap"> {# these two #}
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-company-red">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img class="rounded-circle" src="{% static 'img/navbar-logo.jpg' %}" alt="Navbar" width="40" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-4" id="navbarNavAltMarkup">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}#home">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuGeneralInfo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                General Info
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuGeneralInfo">
                <li><a class="dropdown-item" href="{% url 'parks' %}#parks">Parks</a></li>
                <li><a class="dropdown-item" href="{% url 'parks' %}#accommodation">Accommodation</a></li>
                <li><a class="dropdown-item" href="{% url 'parks' %}#food">Food</a></li>
                <li><a class="dropdown-item" href="{% url 'parks' %}#prices">Prices</a></li>
                <li><a class="dropdown-item" href="{% url 'parks' %}#contact-us">Contact Us</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuExpeditions" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Expeditions
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuExpeditions">
                <li><a class="dropdown-item" href="{% url 'expeditions'  query='recommended' %}#5-day safari">5-day</a></li>
                <li><a class="dropdown-item" href="{% url 'expeditions'  query='recommended' %}#2-day safari">2-day</a></li>
                <li><a class="dropdown-item" href="{% url 'expeditions'  query='recommended' %}#7-day safari">7-day</a></li>
                <li><a class="dropdown-item" href="{% url 'expeditions'  query='recommended' %}#Mount Kilimanjaro">Mount Kilimanjaro</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'expeditions'  query='recommended' %}#create-own">Create own</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'gallery' %}#gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'feedbacks' %}#header-anchor">Feedbacks</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuAboutUs" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About Us
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAboutUs">
                <li><a class="dropdown-item" href="{% url 'about-us' %}#about-us-tag">About Us</a></li>
                <li><a class="dropdown-item" href="{% url 'about-us' %}#contacts-tag">Contacts</a></li>
              </ul>
            </li>
          </ul>

          <ul class="navbar-nav mb-2 mb-lg-0">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'profile' username=user.get_username %}#header-anchor">{{ user.get_username }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'expeditions'  query='my_expeditions' %}#header-anchor">My Expeditions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'logout'%}#header-anchor">Logout</a>
              </li>
            {% else %}
              {% if not "accounts" in request.path and not "signup" in request.path %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'signup'%}?next={{request.path}}#header-anchor">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'login'%}?next={{request.path}}#header-anchor">Login</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'signup'%}?next={% url 'index'%}#header-anchor">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'login'%}?next={% url 'index'%}#header-anchor">Login</a>
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      </div>
      </nav>

      <div class="container-header-image">
        {% block title-img %}<img src="{% static 'img/title-img.jpg' %}" class="img-fluid" alt="...">{% endblock %}
        <div class="container">
          <div class="row">
            <div class="col-12">
              {% block content %}

              {% endblock %}

              {% block pagination %}
                {% if is_paginated %}
                  <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center pt-4">
                      {% if page_obj.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}#header-anchor" tabindex="-1" aria-disabled="true">&laquo;</a>
                        </li>
                      {% endif %}
                      {% for i in page_obj.paginator.page_range %}
                        {# I want always first, last, current and previous and next page of current one#}
                        {% if i == 1 or i == page_obj.paginator.num_pages or i == page_obj.number or i == page_obj.number|add:-1 or i == page_obj.number|add:1 %}
                          {%  if page_obj.number == i %}
                            <li class="page-item active">
                          {% else %}
                            <li class="page-item">
                          {% endif %}
                            <a class="page-link" href="{{ request.path }}?page={{ i }}#header-anchor">{{ i }}</a>
                            </li>
                        {% endif %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}#header-anchor">&raquo;</a>
                        </li>
                      {% endif %}
                    </ul>
                  </nav>
                {% endif %}
              {% endblock %}
              {% block extra_button %} {# when i need a button under pagination (e.g. feedbacks #}

              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="py-4" style="background-color: black" id="footer">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Wilderness MANIAC SAFARIS 2021</p>
      </div>
    </footer>
  </div>

  <script src="{% static 'javascript/app.js' %}"></script>
  <script src="{% static 'javascript/lightbox.js' %}"></script>

  <script type="text/javascript">
  {#  $(function(){#}
  {#      const navMain = $(".navbar-collapse");#}
  {#      navMain.on("click", "a:not([data-toggle])", null, function () {#}
  {#          navMain.collapse('hide');#}
  {#          console.log("tak2?");#}
  {#   });#}
  {# });#}
{#  $('.dropdown-item').on('click', function(){#}
{#      console.log("click");#}
{##}
{#    $('.navbar-toggler').click(); //bootstrap 4.x#}
{#});#}

{#$(function(){#}
{#//const navLinks = document.querySelectorAll('.nav-item')#}
{#    const navLinks = document.querySelectorAll('.dropdown-item')#}
{#const menuToggle = document.getElementById('navbarNavAltMarkup')#}
{#const bsCollapse = new bootstrap.Collapse(menuToggle)#}
{#navLinks.forEach((l) => {#}
{#    l.addEventListener('click', () => { bsCollapse.toggle() })#}
    {#l.addEventListener('click', () => { console.log("click"); document.getElementById("navbarNavAltMarkup").collapse(); })#}
{# });#}
{# });#}


  </script>
</body>
</html>