{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#</html>#}


{% extends "base_generic.html" %}

{% load static %}

{% block content %}

{#  <h1>Madman Safari Home</h1>#}
{#  <p>Welcome to Madman Safari!</p>#}
{#  <h2>Dynamic content</h2>#}

{#  <div class="px-4 pt-4">#}
{#    <h1></h1>#}
{#  </div>#}


  <section>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 order-lg-2 col-md-10">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src={% static 'img/home-sunset.jpg' %} alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Romantic sights...</h2>
            <p>
              Close your eyes. Imagine the first scene from the Lion King, with the big,
              pulsating sun and birds flying in the distance, with radiant colours and vibrant life all around you.
              You can almost feel the vibe in your veins.
              Now open your eyes – thats exactly the sight you can see at safari.
              Seeing the african horizon will certainly be an experience
              you will try to tell all your friends and family about, only to find yourself at loss of words.
              Perhaps the most romantic one in your life you will ever happen to witness.
              Now imagine sharing this sight with your loved one – a memory you will cherish forever,
              a unique feeling only shared between the two of you.
              Bond-forming sights and memories are certainly at the top of our list.
              From a romantic soul to an adventurous one – a safari certainly has a lot to offer to everyone.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src={% static 'img/home-car.jpg' %} alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Magical nature...</h2>
            <p>
              It’s the only place where you can find yourself amongst millions of migrating animals.
              It’s your big adventure to the untouched African wilderness.
              It’s your chance to get to know the true, raw heart of Africa.
              The dynamic, ever-changing ecosystem can offer you diverse landscapes - swamps, acacia woodlands, rivers,
              forests with baobab trees, rolling grassy hills and as far as the eye can see wide plains.
              But if this would not be enough to persuade you, there is the majestic Kilimanjaro – the mountain,
              where time stands still.
              We guarantee you that your heart will certainly skip a beat every time you see its snow capped peak.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="px-0 py-3 p-md-5">
            <img class="img-fluid rounded-circle" src={% static 'img/home-cougar.jpg' %} alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="px-0 py-3 p-md-5">
            <h2 class="display-4">Unique animals...</h2>
            <p>
              The wildlife you will see always depends on the season of your visit – which also means
              that with every trip will come a different experience.
              But in every season you have a very big chance of seeing some of the rarest animals on the earth
              – with more than 250 000 animals in the park, it is as diverse as it can be!
              Every year during the dry season a big migration is happening – the most dramatic, of course,
              the Wildebeest migration in the Serengeti. The rivers are most of the time
              the only available source of water for the animals – you will see predators like lions, hyenas, cheetah,
              leopards and wild dogs peacefully drinking water with elephants, gazelles, zebras and buffaloes.
              The large, open areas of safari are a home for more than 545 species of birds – how many can you find?
              We recommend starting with the easily spottable yellow-collared lovebirds.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src={% static 'img/home-maasai.jpg' %} alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">The Hakuna Matata life...</h2>
            <p>
              Africa is said to be the cradle of the human life.
              This area was occupied for almost 4 million years by our ancestors – the Australopithecus afarensi.
              Nowadays you can find many diverse tribes occupying the parks
              – the most famous one being the Maasai people,
              known for their traditional way of life and their genuine smiles. Find yourself,
              what does „Hakuna Matata“ mean in the Kenyan culture – we will give you a hint:
              put a smile on, kick back, crack open a coconut and relax!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <div class="container">
      <div class="row justify-content-center p-5">
        <div class="col-lg-10 col-sm-12">
          <div class="ratio ratio-16x9">
            <iframe
              src="https://www.youtube.com/embed/Dalc-qLffr8"
              title="YouTube video"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}