
{% extends "base_generic.html" %}

{% load static %}

{% block content %}
  <a class="jump-href" id="header-anchor"></a>
  <section>
    <a class="jump-href" id="about-us-tag"></a>
    <div class="px-2 px-lg-3 pt-4">
      <h1>About Us</h1>
    </div>

    <div class="container">
      <div class="row align-items-center justify-content-center py-4 pb-lg-5">
        <div class="col-md-10 col-lg-6 order-lg-1 align-self-center">
          <div class="px-0 pb-4 px-md-3 pb-lg-0">
            <img class="img-fluid rounded-circle" src={% static 'img/about-us-florid.jpg' %} alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-2">
          <div class="px-0 pb-5 px-md-3 pb-lg-0">
            <p>
              Wilderness MANIAC SAFARIS is a tourism company with its headquarters in Arusha, Tanzania.
              It operates in the east of Africa and is owned by a young Tanzanian entrepreneur Floridi Ishmael Laisser.
            </p>
            <p>
              Floridi is a young Maasai, born and raised in the community surrounding Tarangire National Park,
              where his family has worked his whole life. Floridi has undertaken his primary and secondary education
              in local schools of Arusha. In 2003, he started his career in tourism industry
              by working as a porter in Mount Kilimanjaro for more than three years.
              Mount Kilimanjaro, the highest free-standing mountain in Africa,
              was the place where he managed to get sufficient money to continue his studies and later,
              he got the Tourism and Wildlife Management Certificate at the Arusha Institute of Travel and Tourism Management.
              Afterwards, he started working as a professional tour guide for high rated tourism companies.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center justify-content-center py-4 pb-lg-5">
        <div class="col-md-10 col-lg-6 order-lg-2 align-self-center">
          <div class="px-0 pb-4 px-md-3 pb-lg-0">
            <img class="img-fluid rounded-circle" src={% static 'img/about-us-car.jpg' %} alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="px-0 pb-5 px-md-3 pb-lg-0">
            <p>
              Floridi’s extraordinary performance in his career is built on the experience he has gained during his childhood.
              He grew up witnessing various tourism activities,
              however, most importantly he got true field experience whilst travelling from destination to destination
              covering more than sixteen national parks, nature reserves, conservation areas and marine parks.
              He has guided and conducted mountain trekking tours, balloon safaris, canoeing tours, and tree walks.
              Floridi Ishamel Laiser truly is an experienced adventurer in Tanzania.
            </p>
            <p>
              Lastly, Floridi has taken another step in his career with the decision to start his own tourism company
              to enhance young people of Tanzania in the tourism industry and he also wants to play a role in promoting
              tourism in Tanzania and Africa at large. The word MANIAC in the name of the company revealing his obsession
              and absolute passion for exploring the wilderness of the world, as well as showing these wonders to the tourists.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <a class="jump-href" id="contacts-tag"></a>
    <div class="px-2 px-lg-3 pt-4">
      <h1>Contacts</h1>
    </div>

    <div class="container">
      <div class="row align-items-center justify-content-center py-4">
        <div class="col-md-10 col-lg-6 order-lg-1 align-self-center">
          <div class="px-0 pb-4 px-md-3">
            <img class="img-fluid rounded-circle" src={% static 'img/header-logo.jpg' %} alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-2">
          <div class="px-0 pt-3 pb-5 px-md-3 pt-lg-0" id="contacts">
            <p class="fs-4 text-center"><img src="{% static 'img/icons/envelope.svg'%}" alt="Email:" width="20" height="20"><a class="profile-links" href="mailto:wildernessmaniac@gmail.com">wildernessmaniac@gmail.com</a></p>
            <p class="fs-4 text-center"><img src="{% static 'img/icons/telephone.svg'%}" alt="Telephone:" width="20" height="20"><a class="profile-links" href="tel:+255-693-397-933">+255-693-397-933</a></p>
            <p class="fs-4 text-center"><img src="{% static 'img/icons/telephone.svg'%}" alt="Telephone:" width="20" height="20"><a class="profile-links" href="tel:+255-756-814-170">+255-756-814-170</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}