
{% extends "base_generic.html" %}

{% load static %}

{% block content %}
  <section>
    <a class="jump-href" id="about-us-tag"></a>
    <div class="px-4 pt-4">
      <h1>About us</h1>
    </div>

    <div class="container">
      <div class="row justify-content-evenly">
        <div class="col-lg-6 align-self-center">
          <div class="p-4">
            <img class="img-fluid rounded-circle" src={% static 'img/typek.jpg' %} alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <p>
              Floridi Laizer, born and raised Maasai, has always had passion for wildlife.
              Floridi’s heart beats for raw wilderness of Tanzania and he absolutely loves sharing
              his experience with anyone wanting to experience it with him.
              From an early age, there was no doubt that Floridi would become a renowned wildlife safari guide.
              He is passionate about conservation of the fascinating ecosystem of his homeland
              by sustaining its wilderness in its purest form.
              Floridi’s dream of sharing the love for his country with others came true
              with the project Wilderness MANIAC SAFARIS.
            </p>
            <p>
              In Wilderness MANIAC SAFARIS,
              our mission is to prepare adventurous as well as educating experience through tourism.
              It is essential for us to teach others about the appropriate care for the environment.
              We are the most experienced tour and travel company based in the city of Arusha in beautiful Tanzania.
              Our company contains diverse team of experts to provide you with the best experience possible.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <a class="jump-href" id="contacts-tag"></a>
    <div class="px-4 pt-4">
      <h1>Contacts</h1>
    </div>

    <div class="container">
      <div class="row justify-content-evenly">
        <div class="col-lg-6 order-lg-2 align-self-center">
          <div class="p-4">
            <img class="img-fluid rounded-circle" src={% static 'img/about-us.jpg' %} alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5" id="contacts">
            <p class="fs-4"><b>Whatsapp: <a href="tel:+421-944-412-335">+421-944-412-335</a></b></p>
            <p class="fs-4"><b>Email: <a href="mailto:ahojky@gmail.com">ahojky@gmail.com</a></b></p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}