
{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="px-4 pt-4">
    <h1>Create your ideal expedition</h1>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="p-5">
          <form id="form-container" method="post">
            {% csrf_token %}
            {{ trip_formset.management_form }}

            {% for form in trip_formset %}
              <div class="crispy-form pb-3">
                <h2>Trip</h2>
                {{ form|crispy }}
              </div>
            {% endfor %}
            <div class="crispy-form-expedition">
              {{ expedition_form|crispy }}
            </div>
            <div class="d-grid gap-2 col-5 mx-auto py-5">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
        $('.crispy-form').formset({addText: 'Add another trip', deleteText: 'Remove this trip'});
    })
  </script>
{% endblock %}