
{% extends "base_generic.html" %}

{% load static %}
{% load catalog_extras %}

{% block content %}
  <div class="px-4 pt-4">
    {% if query == "recommended" %}
      <h1>Our recommended expeditions</h1>
    {% elif query == "my_expeditions"%}
      <h1>My expeditions</h1>
    {% endif %}
  </div>

  <div class="container">
    {% if expedition_list %}
      {% for expedition in expedition_list %}
        {% if query == "recommended" %}
          <a class="jump-href" id="{{ expedition.name }}"></a>
          <div class="row align-items-center">
            <div class="col-lg-7">
              <div class="p-5">
                <h2 class="display-4">{{ expedition.itinerary }} safari...</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
              </div>
            </div>
            <div class="col-lg-5 ">
              <div class="py-3 px-5">
                <ul style="background-color: #eaecec">
                  {% for trip in expedition.trips.all %}
                    <li>
                      <b>Park: </b>{{ trip.park }}<br> <b>Accommodation: </b>{{ trip.accommodation }}<br> <b>Days: </b>{{ trip.days }}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="accordion" id="accordion_{{ forloop.counter }}" style="">
                  {% for plan in expedition.itinerary.dailyPlans.all %}
                    {% if forloop.counter == 1 %}
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="accordion_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                            {{ plan }}
                          </button>
                        </h2>
                        <div id="collapse_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" class="accordion-collapse collapse show" aria-labelledby="accordion_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" data-bs-parent="#accordion_{{ forloop.parentloop.counter }}">
                          <div class="accordion-body">
                            {{ plan.description }}
                          </div>
                        </div>
                      </div>
                    {% else %}
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="accordion_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                            {{ plan }}
                          </button>
                        </h2>
                        <div id="collapse_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="accordion_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" data-bs-parent="#accordion_{{ forloop.parentloop.counter }}">
                          <div class="accordion-body">
                            {{ plan.description }}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="d-grid gap-2 col-5 mx-auto pb-5">
            <a class="btn btn-primary" href="{{ expedition.get_absolute_url_rec }}" role="button">I want this</a>
          </div>



        {% elif query == "my_expeditions"%}
          <div class="row justify-content-center p-5" id="skuska">
                      <div class="px-3 pb-3">
                        <span id="my-expeditions-buttons">
                          <a href="{{ expedition.get_absolute_url_my }}">
                <img src="{% static 'img/icons/pencil-square.svg'%}" alt="Update" width="20" height="20">
              </a>
              <a href="{% url 'expedition-delete'  pk=expedition.id %}">
                <img src="{% static 'img/icons/trash-fill.svg'%}" alt="Bootstrap" width="20" height="20">
              </a>
                        </span>
                        <h1>May 12, 1991 - May 12, 2020</h1>

                      </div>


            <div class="col-12">
              <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Park</th>
      <th scope="col">Accommodation</th>
      <th scope="col">Days</th>
    </tr>
  </thead>
  <tbody>
    {% for trip in expedition.trips.all %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ trip.park }}</td>
      <td>{{ trip.accommodation }}</td>
      <td>{{ trip.days }}</td>
    </tr>
    {% endfor %}
  </tbody><tfoot>
<th scope="row">Total days</th>
      <td></td>
      <td></td>
      <td>{{ totals|lookup:forloop.counter }}</td>
  </tfoot>
</table>
            Number of people: 7
            {{ totals }}
            </div>
          </div>
        {% endif %}
        <hr>
      {% endfor %}
    {% else %}
      <p>There are no expeditions currently.</p>
    {% endif %}

    <a class="jump-href" id="create-own"></a>
    <div class="d-grid gap-2 col-6 mx-auto py-5">
      <a class="btn btn-primary" href="{% url 'create-expedition' %}" role="button">Create your own expedition</a>
    </div>
  </div>
{% endblock %}