
{% extends "base_generic.html" %}

{% block content %}

  <div class="px-2 px-lg-3 pt-4">
    <h1>Delete Feedback</h1>
  </div>

  <div class="container">
    <div class="row justify-content-center py-4">
      <div class="col-12 px-2 px-md-4 col-lg-11 col-xl-10">
        <p>Are you sure you want to delete the feedback from <b>{{ feedback.date_created.date }}</b>?</p>
      </div>
    </div>

    <form action="" method="POST">
      {% csrf_token %}
      <div class="d-grid col-9 col-sm-5 mx-auto pt-1 pb-5">
        <button class="btn btn-danger" type="submit">Yes, delete.</button>
      </div>
    </form>
  </div>

{% endblock %}