
{% extends "base_generic.html" %}

{% load static %}
{% load bleach_tags %}

{% block content %}


  <section>
    <a class="jump-href" id="header-anchor"></a>
    <a class="jump-href" id="parks"></a>
    <div class="px-2 px-lg-3 pt-4">
      <h1>Parks</h1>
    </div>

    <div class="container">
    {% if park_list %}
      {% for park in park_list %}
          <div class="row">
            <div class="col-12 px-2 py-4 px-md-4 py-lg-4">
              <div class="pb-3">
                <h2>{{ park }}</h2>
              </div>
              {% if forloop.counter|divisibleby:2 %}
                <div class="container-offer-image-end float-end">
                  <img src="{{ MEDIA_URL }}{{ park.picture }}" class="img-fluid" alt="" id="park-img">
                </div>
              {% else %}
                <div class="container-offer-image-start float-start">
                  <img src="{{ MEDIA_URL }}{{ park.picture }}" class="img-fluid" alt="" id="park-img">
                </div>
              {% endif %}
              {{ park.description|bleach }}
            </div>
          </div>
{#        </div>#}
        <hr>
      {% endfor %}
    {% else %}
      <div class="row">
        <div class="col-12 px-2 py-4 px-md-4 py-lg-4">
          <p>There are no parks currently.</p>
        </div>
      </div>
    {% endif %}
      </div>
  </section>


  <section>
    <a class="jump-href" id="accommodation"></a>
    <div class="px-2 px-lg-3 pt-4">
      <h1>Accommodation</h1>
    </div>

        <div class="container">
        <div class="row">
          <div class="col-12 px-2 py-4 px-md-4 py-lg-4">
            <p>
              During the whole trip there will be a professional chef ready to cook whatever he see in your eyes. In the beggining he would ask you wether you eat meat/fish or not. After obtaining the informations he needs he would prepare menu that would suit your needs.
              Breakfast- pancakes/omelets, boiled eggs,  cheese, butter, bread, marmalede, coffe, tea, fruit
              Lunch- rice/pasta, meat/vegeterian dish, vegetable, fruit
              Dinner- rice/pasta, meat/vegeterian dish, vegetable, fruit
            </p>
          </div>
        </div>
      </div>
          <hr>
  </section>

  <section>
    <a class="jump-href" id="food"></a>
    <div class="px-2 px-lg-3 pt-4">
      <h1>Food</h1>
    </div>
      <div class="container">
        <div class="row">
          <div class="col-12 px-2 py-4 px-md-4 py-lg-4">
            <p>
              During the whole trip there will be a professional chef ready to cook whatever he see in your eyes. In the beggining he would ask you wether you eat meat/fish or not. After obtaining the informations he needs he would prepare menu that would suit your needs.
              Breakfast- pancakes/omelets, boiled eggs,  cheese, butter, bread, marmalede, coffe, tea, fruit
              Lunch- rice/pasta, meat/vegeterian dish, vegetable, fruit
              Dinner- rice/pasta, meat/vegeterian dish, vegetable, fruit
            </p>
          </div>
        </div>
      </div>
  </section>

{% endblock %}